<!--채용게시판상세화면-->

<div class="w-25 m-auto">
	<br /><br />
	<div
		id="carouselExampleIndicators"
		class="text-center mb-4"
		data-ride="carousel"
	>
		<h1><%=data[0].employment_board_name%></h1>
		<table border="1">
			<tr>
				<td colspan="2">모집 및 근무조건</td>
			</tr>
			<tr>
				<td>업체명</td>
				<td><%=data[0].employment_board_companyname%></td>
			</tr>
			<tr>
				<td>업종</td>
				<td><%=data[0].employment_board_industry%></td>
			</tr>
			<tr>
				<td>모집인원</td>
				<td><%=data[0].employment_board_personnel%></td>
			</tr>
			<tr>
				<td>근무기간</td>
				<td><%=data[0].employment_board_period%></td>
			</tr>
			<tr>
				<td>근무요일</td>
				<td><%=data[0].employment_board_day%></td>
			</tr>
			<tr>
				<td>근무시간</td>
				<td><%=data[0].employment_board_time%></td>
			</tr>
			<tr>
				<td>시급</td>
				<td><%=data[0].employment_board_salary%></td>
			</tr>
			<tr>
				<td>고용형태</td>
				<td><%=data[0].employment_board_type%></td>
			</tr>
		</table>

		<%if(sess.info!=null && sess.info.check==1){%>
		<input type="button" onclick="location.href='#'" value="고용신청" />
		<%}else if(sess.info!=null && sess.info.check==2){%>
		<input
			type="button"
			onclick="location.href='../employer/updateboard?employment_board_num=<%=data[0].employment_board_num%>'"
			value="수정"
		/>
		<%}%>
	</div>
</div>
